body {
    background: whitesmoke;
}

#title {
    background: steelblue;
    padding: 10px;
    text-align: center;
}

#tagLine {
    text-align: center;
}

#main {
    overflow: auto;
}

.interests {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    background-color: lightblue;
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gameBorder {
    border-style: dashed;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
}
