body {
    background: whitesmoke;
}

#title {
    background: steelblue;
    padding: 10px;
    text-align: center;
}

#tagLine {
    text-align: center;
}

#main {
    overflow: auto;
}

.interests {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

